<div id="formRegistrarse">
    <br>
    <h2>
        Ya casi terminamos...
    </h2>
    <br>
    <h3>Por favor ingrese una foto de perfil</h3>
    <br>
    <br>
    <form id="uploadForm" action="/uploadfile" enctype="multipart/form-data" method="post">
        <label for="avatar">Foto de perfil</label>
        <input name="avatar" type="file" required/>
        <br>
        <br>
        <input type="submit" value="Finalizar" id="buttonCargarImg">
    </form>
    <br>
</div>