<footer>
    <hr>
    <p id="footerParrafo">Título: STORE WARS Tematica: Tienda e-commerce de venta de articulos referidos al universo de Star Wars | Alumno: Gonzalo Leonel Gramajo | Comisión: 30945 | Profesor: Agustín meliendrez | Tutor: Emiliano Pérez | Descripción: Es un sitio web e-commerce de venta de articulos referidos al universo de Star Wars. Fue realizado con la finalidad de presentarse en el curso de Backend para Coder House y su posterior revisión | Fecha: Agosto del 2022 | © Copyright 2022 | Gonzalo Leonel Gramajo | Licensee ISC | Contacto: gramajogonzalo@gmail.com</p>
</footer>