<h2 id="tittleHerr">Herramientas para productos</h2>

<div id="divBotonesHerr">
    <input onclick="showAddProd(this)" type="button" value="AGREGAR PRODUCTO" id="agregarProd" class="botonHerramienta">
    <input onclick="showUpdProd(this)" type="button" value="ACTUALIZAR PRODUCTO" id="actualizarProd" class="botonHerramienta">
    <input onclick="showDelProd(this)" type="button" value="ELIMINAR PRODUCTOS" id="eliminarProd" class="botonHerramienta">    
</div>

<form id="formProductAdd">
    <h3>Agregar producto</h3>
    <div class="formHerr">

        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" required><br>

        <label for="price">Precio</label>
        <input type="number" name="price" id="price" required><br>

        <label for="price">Descripci贸n</label>
        <input type="text" name="description" id="description" required><br>

        <label for="thumbnail">Thumbnail</label>
        <input type="text" name="thumbnail" id="thumbnail" required><br>

        <label for="stock">Stock</label>
        <input type="number" name="stock" id="stock" required><br>

        <label for="code">C贸digo</label>
        <input type="number" name="code" id="code" required><br><br>

        <input onclick="addProduct(this)" type="button" value="AGREGAR" id="botonAgregar">
    </div>
</form>

<form id="formProductUpdate">
    <h3>Actualizar producto</h3>
    <div id="addIdToUpdate">
        <label for="idToUpd">ID del producto a actualizar </label>
        <input type="number" name="idToUpd" id="idToUpd" required><br>
    </div>
    <div class="formHerr">
        <p>Complete los casilleros que desea actualizar en el producto</p>
        <label for="nameToUpd">Nombre </label>
        <input type="text" name="nameToUpd" id="nameToUpd" required><br>

        <label for="priceToUpd">Precio </label>
        <input type="number" name="priceToUpd" id="priceToUpd" required><br>

        <label for="descriptionToUpd">Descripci贸n </label>
        <input type="text" name="descriptionToUpd" id="descriptionToUpd" required><br>

        <label for="thumbnailToUpd">Thumbnail </label>
        <input type="text" name="thumbnailToUpd" id="thumbnailToUpd" required><br>

        <label for="stockToUpd">Stock </label>
        <input type="number" name="stockToUpd" id="stockToUpd" required><br>

        <label for="codeToUpd">C贸digo </label>
        <input type="number" name="codeToUpd" id="codeToUpd" required><br><br>

        <input onclick="updProduct(this)" type="button" value="ACTUALIZAR" id="agregar">
    </div>
</form>

<form id="formProductDelete">
    <h3>Eliminar productos</h3>
    <div id="addIdToDelete">
        <label for="idToDelete">ID del producto a eliminar </label>
        <input type="number" name="idToDelete" id="idToDelete" required><br><br>
        <input onclick="delProduct(this)" type="button" value="Eliminar" id="agregar">
    </div>
</form>

<div id="divErrAddProduct">
    <h2 id="ErrAddProduct"></h2>
</div>

<div id="divAvisosHerr">
    <h3 id="AvisosHerr"></h3>
</div>