<h1>STORE WARS</h1>

<div id="hechoInitSession">
    <h3>Usted a iniciado sesión</h3>
    <p id="saludos"></p>
</div>

<div id="closeSession">
    <h3>Usted ha cerrado sesión</h3>
    <p id="despedida"></p>
</div>