<h3 id="tittleTableCart">Carrito de compra</h3>
<table id="tableCart">
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Imágen</th>
        <th>Código</th>
        <th>Cantidad</th>
        <th></th>
    </tr>
    <tbody id="tablaCarrito"></tbody>
</table>

<div id="divAvisosHerr">
    <h3 id="AvisosHerr"></h3>
</div>

<br>