<h3>PRODUCTOS</h3>
<table id="tablaProduct">
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Imágen</th>
        <th>Stock</th>
        <th>Código</th>
        <th>Comprar</th>
    </tr>
    <tbody id="tablaProductos"></tbody>
</table>