<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>STORE WARS - Carrito</title>
        <link rel="stylesheet" href="/css/styleCart.css" />
        <link rel="icon" href="/images/favicon.ico"/>
    </head>
<body class="container">
    <header>
        <br>
        <img src="/images/tittle.webp" id="tittleImg">
        
        <div id="logout">
            <input onclick="logout(this)" type="button" id="botonLogout" value="Cerrar sesión">
        </div>
        
        <div id="toHome">
            <input onclick="showProducts(this)" type="button" id="botonShowHome" value="Volver a home">
        </div>
        
        <div id="closeSession">
            <h1>Usted ha cerrado sesión</h1>
            <h2>Hasta luego <b id="despedida"></b></h2>
        </div>
        <div id="atenuarBye"></div>
        
        <div id="NoSession">
            <h1>ERROR: Debe iniciar sesión</h1>
        </div>
        <div id="atenuarErr"></div>

        <hr>
    </header>
    <main>
        <%- include('../partials/tableCart'); %>
        <br>
        <div id="divButtonFinishShop">
            <input onclick="finishShop(this)" type="button" id="buttonFinishShop" value="Finalizar compra">
        </div>
        <br><br>
    </main>
    <%- include('../partials/footer'); %>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="scripts/homeAdmin.js"></script>
</body>
</html>