<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>STORE WARS - Perfíl</title>
    <link rel="stylesheet" href="/css/styleProfile.css" />
    <link rel="icon" href="/images/favicon.ico"/>
</head>
<body class="container">
    <div id="atenuarErr"></div>
    <header>
        <br>
        <img src="/images/tittle.webp" id="tittleImg">
    </header>
    <main>
        <br>
        <h2 id="tittleProfile">Imagen subida al crear la cuenta</h2>
        <div id="divImgAvatar"></div>
    </main>
    <%- include('../partials/footer'); %>
    <script src="scripts/profile.js"></script>
</body>
</html>